<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noi Chu</title>
    <link rel="stylesheet" href="./css/styleOnl.css">
</head>

<body>
    <div class="head">
        <h1>Danh sách phòng</h1>
        <div>
            <input type="text" id="roomIdInput" placeholder="Nhập ID để tìm phòng">
            <button id="findRoomBtn">Tìm phòng</button>
        </div>
        <button id="makeRoom">Tạo Phòng</button>
    </div>
    <div class="createRoom">
        <fieldset>
            <legend>Tạo Phòng</legend>
            <form id="createRoomForm" action="/createroom" method="post">
                <label for="roomName">Tên phòng:</label>
                <input type="text" id="roomName" name="roomName" placeholder="Nhập ID" required>

                <label for="numberSelect">Số người chơi:</label>
                <select id="numberSelect" name="players">
                    <option value="2">2 players</option>
                    <option value="3">3 players</option>
                    <option value="4">4 players</option>
                    <option value="5">5 players</option>
                </select><br><br>

                <button type="submit">Submit</button>
                <span id="closeCreateRoom" class="close-btn">&times;</span> <!-- Biểu tượng đóng X -->
            </form>
        </fieldset>
    </div>

    <div class="list">
        <table id="roomList">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên Phòng</th>
                    <th>Số player trong phòng</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody id="dsroom">
                <% for (var i=0; i < listUsers.length; i++) { %>
                    <tr class="<%= listUsers[i].id %>">
                        <th>
                            <%= listUsers[i].id %>
                        </th>
                        <th>
                            <%= listUsers[i].name %>
                        </th>
                        <th>
                            <%= listUsers[i].players %>
                        </th>
                        <th>
                            <a href="/noiChuOnl/<%= listUsers[i].id %>">THAM GIA</a>
                        </th>
                    </tr>
                    <%}%>
            </tbody>
        </table>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./javascript/noiChuOnl.js"></script>
</body>

</html>